$main-color: #4caf50;

@import '../fonts/iconmoon/style.css';
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  color: unset;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
  background: transparent;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
input {
  border: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
blockquote {
  margin: 0;
}
html {
	font-size: 16px;
}
body {
  margin: 0;
  font-size: 16px;
}


.main-color {
	color: $main-color;
}
.language-wrap {
	position: relative;
	width: 24px;
	height: 24px;
}
.language {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-flex;
	flex-direction: column;
	height: 24px;
	border: 1px solid transparent;
	overflow: hidden;
	&.is-open {
		height: auto;
		border-color: $main-color;
		.language{
			&__el {
				border-bottom: 1px solid #ccc;
				&:hover {
					border-bottom-color: $main-color;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	&__el {
		display: flex;
		flex: 1;
		order: 2;
		min-height: 24px;
		background-color: white;
		transition: all .2s ease;	
		&:hover {
			background-color: $main-color;
		}	
		&.is-active {
			order: 1;
		}
	}	
	&__link {
		display: flex;
	}
	&__img {
		display: flex;
		width: 22px;
    	height: 15px;
	}
}
