@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j69pd7');
  src:  url('fonts/icomoon.eot?j69pd7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j69pd7') format('truetype'),
    url('fonts/icomoon.woff?j69pd7') format('woff'),
    url('fonts/icomoon.svg?j69pd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-instagram2:before {
  content: "\f16d";
}
.icon-vk:before {
  content: "\f189";
}
